# MB of memory per core
memory: 16384 # 16GB

# Maximum allowed solving time per problem in seconds
timeout: 3600 # 1h

# Number of concurrent evaluations running
processes: 1

# For compilation tasks, number of concurrent AllSMT processes per task that enumerates
# total truth assignments
allsmt_processes: 14

# Benchmarks
benchmarks: [
  "data/benchmark/planning/h3/Painter"
] 

# T-Lemmas base path
tlemmas_dir: ""

# Ground truth logs path
gt_tlemmas_dir: ""

# Number of parallel workers for T-Lemmas check
tlemmas_check_parallel_workers: 4

# Number of projected variables per partial model for T-Lemmas check (determines the number of partial models used to split the work)
tlemmas_check_num_projected_vars_per_partial_model: 10

# Output dir, add a / to the end
results: "results/"